@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
:root{
    --cor-principal:#808080;
    --cor-secundaria: #EBC36A;
    --cor-terciara: black ;
    --cor-quarta:white;
    --cor-quinta : blanchedalmond;
    --fonteitexto :'Montserrat', sans-serif;
    --fonte-texto2: 'Krona One', sans-serif;
}
*{
    margin:0;
    padding:0;
}

body{
   box-sizing: border-box;
   background-color:var(--cor-principal);
   color:var(--cor-quinta);
}

.Cabeçalho{
    padding: 2% 0% 0% 5%;
}

.Cabecalho_Menu{
    display: flex;
    gap: 10%;
}

.Cabecalho_Menu_Home{
    color:var(--cor-secundaria);
    font-family: var(--fonteitexto);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}
.Cabecalho_Menu_Sobre{
    color:var(--cor-secundaria);
    font-family:var(--fonteitexto);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}
.Titulo_Destaque{
    color: var(--cor-secundaria);
}
.Paragrafo{
    padding-left: 10%;
    font-size: 20px;
    color :var(--cor-quarta) ;
    font-family: var(--fonteitexto);

}
.Pessoa{
    padding: 10%;
    font-size: 36px;
    color : var(--cor-terciara);
    font-family: var(--fonte-texto2);
    
}
.Apresentaçao{
    padding:10%,5%;
    display: flex; /*Deixar os elementos separados */
    align-items: center;/*Elementos no centro, confrom o amior elemento*/
    justify-content: space-between; /*Separar os elementos das seções 
    como temos duas apenas */

}
.Apresentaçao_conteudo{
    display: flex;
    width: 615px;
    flex-direction: column;
    gap:40px;

}
.Imagem{
    width: 45%;
  justify-content: space-between;
}

.Links{
    display: flex;
    justify-content:space-between ;
    flex-direction: column;
    align-items: center;
    gap:32px;

}

.Apresentação_Redes{
    font-family: var(--fonte-texto2);
    font-weight: 400;
    font-size: 24px;

}

.Apres_Links{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px,0px;
    text-decoration: none;
    color:white;
    font-family: var(--fonteitexto);
    border: 3px outset var(--cor-secundaria);

  
}
.Apres_Links:hover{
    background-color:var(--cor-secundaria);
}
.Roda_pé{
    margin-top: 16px;
    font-size: 20px;
    color: #EBC36A;
    text-align: center;
    font-family: var(--fonteitexto);
    

}